h1 {
	color: yellow;
	font-family: 'Lexend Exa', sans-serif;

}

p {
	color: yellow;
}

body {
	background-color: blue;
}

#flashmates-title {
	font-family: 'Lexend Exa', sans-serif;
}
#forms{
	border: black solid;
}