html {
	scroll-behavior: smooth;
}

h1 {
	color: yellow;
	font-family: 'Lexend Exa', sans-serif;

}

p {
	color: yellow;
}

body {
	background-color: blue;
}

.section-odd {
  height : 100vh;
  text-align: center;
  background-color: blue;
  box-sizing: border-box;
}

.section-odd h1 {
	text-align: center;
	display: inline-block;
	font-family: 'Lexend Exa', sans-serif;
	margin-top: 25%;
}

.section-even {
	height : 100vh;
	text-align: center;
	background-color: yellow;
	box-sizing: border-box;
}

.section-even h1 {
	text-align: center;
	display: inline-block;
	font-family: 'Lexend Exa', sans-serif;
	margin-top: 25%;
	color: blue;
}

.section-even p{
	color : blue;
	font-family: 'Lexend Exa', sans-serif;
}

footer {
    position: relative;
    height: 100px;
    width: 100%;
    /*background-color: #333333;*/
}

footer p {
    position: absolute;
    width: 100%;
    /*color: #fff;*/
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    bottom:0;
}

nav a {
	font-family: 'Lexend Exa', sans-serif;
    color: yellow;
}

.title {
	color: blue;
	border : yellow solid;
	position: fixed;
	margin : 0px;
	padding: 0px;
}


/*
#title p {
	margin-bottom: 10px;
	line-height: 0;
	font-size: 20px;
}
*/

#flashmates-title {
	font-family: 'Lexend Exa', sans-serif;
}

#forms{
	border: black solid;
}